html {
    box-sizing: border-box;
}

*,
*::before
*::after {
    box-sizing: inherit;
}
  
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h4, h5, p {
    margin: 0;
}

header {
    padding: 70px 0px 96px 164px
}

.site-navigation {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.site-navigation li {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
}

.site-navigation-item1 {
    margin-right: 120px;
}

.site-navigation-item2 {
    margin-right: 100px;
}

.site-navigation-item3 {
    margin-right: 94px;
}

.site-navigation a {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #626262;
    display: block;
}


.site-navigation a:hover,
.site-navigation a:focus {
    color: #03a9f4;
}

section {
    font-size: 0;
    padding-bottom: 20px;
}

.article-left-1 {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 134px;
}

.article-left-2 {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 90px;
}

.article-right {
    display: inline-block;
    width: 420px;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.lifestyle-title, .photodiary-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #b4ad9e;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
   
}


.para-title {
    font-size: 30px;
    line-height: 36px;
}

.text {
    font-size: 14px;
    line-height: 24px;
}


article img {
    margin-bottom: 28px;
}

h4 {
    margin-bottom: 30px;
}

h5 {
    margin-bottom: 36px;
}

button {
    border: 1px solid;
    padding: 24px 34px;
    font-size: 20px;
    line-height: 24px;
    background-color: #fff;
    color: #626262;
    cursor: pointer;
    display: block;
    margin: 0 auto;
   
} 